<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoteQuest</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

    <!-- Navbar -->
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'create_note' %}">Create Note</a>
    </nav>

    <!-- Main Content -->
    <div class="content-container">
        <h1>Welcome {{ request.user.full_name }}</h1>
        <h2>Your notes</h2>
        <ul>
            {% for note in notes %}
                <li>{{ note.title }} - {{ note.created_at }}</li>
                <a href="{% url 'view_note' note.id %}">
                    <button>Ver nota completa</button>
                </a>
            {% empty %}
                <li>No notes yet.</li>
            {% endfor %}
        </ul>
    </div>

    <!-- Logout Form -->
    <div class="logout-container">
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2025 NoteQuest. All rights reserved. <a href="{% url 'about' %}">About us</a></p>
    </footer>

</body>
</html>
