.layoutContainer {
  display: flex;
  width:100%;
  min-height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
  background-color: var(--light-gray); /* Color de fondo suave */
}

/* El contenedor a la derecha del Sidebar */
.mainContent {
  flex-grow: 1;
  padding-left: 19.25rem; /* El ancho exacto de tu Sidebar */
  
  /* Hacemos que ocupe toda la altura y sea un contenedor vertical */
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* El área de contenido DEBAJO del Header */
.pageContent {
  /* 1. Ocupa todo el espacio vertical restante */
  flex-grow: 1;
  
  /* 2. Habilita el scroll SOLO en esta área si el contenido es muy largo */
  overflow-y: auto;
  
  /* 3. Padding interno para que el contenido no se pegue a los bordes */
  padding: 2rem;
}