<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ note.title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="content-container">
        <h2>{{ note.title }}</h2>
        <p>{{ note.content }}</p>
        <p><strong>Created at:</strong> {{ note.created_at }}</p>
        <a href="{% url 'edit_note' note.id %}">Edit</a>
        <a href="{% url 'delete_note' note.id %}">Delete</a>
        <a href="{% url 'home' %}">Back to Home</a>
    </div>
</body>
</html>